/*home page start*/
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.home-bg{
	background: url('img/grey.jpg') no-repeat center fixed;
	background-size: cover;
}
.logo img{
	width:700px;
	height:450px;
	margin-left: 390px;
}
.tagline img{
	width: 650px;
	height: 400px;
	margin: -200px 0 -100px 420px;
}
.intro h3{
	font-family: 'Copperplate Gothic Bold', sans-serif;
	text-align: center;
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px 2px black, 0 0 25px #000000, 0 0 5px #fff;
	text-transform: uppercase;
	word-spacing: 10px;
}
.intro h4{
	font-family: 'Copperplate Gothic Bold', sans-serif;
	font-size: 25px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 2px black, 0 0 25px #000000, 0 0 5px #fff;
	text-transform: uppercase;
	word-spacing: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}
.menu-items ul{
	list-style: none;
	font-family: 'Kavo Serif', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	margin-top: 45px;
}
.menu-items a{
	margin: 75px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 25px;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 1rem 1rem;
	font-weight: 900;
	text-decoration-line: none;
	transition: color 2s;
}
.menu-items a:hover{
	color: black;
	transition: 2s;
	background-color: #fff;
}
.icons ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.icons li i{
	margin-top: -60px;
	padding: 0 117px;	
	color: #000000;
	font-size: 25px;
}
.no-js #loader { 
	display: none; 
 }
  .js #loader { 
  	display: block; position: absolute; left: 100px; top: 0; 
}
  #splash_screen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(img/splash.svg) center no-repeat #fff;
  background-color: black;
}
.personal h6{
	font-family: 'Kavo Serif', sans-serif;
	color: #000000;
	text-align: center;
	font-size: 23px;
	text-decoration: underline;
	margin-bottom: -5px;
}
.personal ul li{
	list-style: none;
	font-family: '', sans-serif;
	font-size: 20px;
	color: #000000;
	text-align: left;
	display: flex;
	margin-left: 600px;
}
.slogan h2{
	font-family: 'Kavo Serif', sans-serif;
	color: #000000;
	text-align: center;
	font-size: 18px;
	margin-top: 30px;
}

/*about page start*/
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.about-bg{
	background: url('img/cool_gray inverted.png') no-repeat center fixed;
	overflow-y: hidden;
	/*background-size: cover;*/
}
.about-menu ul{
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-family: 'Kavo Serif', sans-serif;
	cursor: pointer;
}
.about-menu a{
	margin: 45px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bolder;
	text-decoration-line: none;
	cursor: pointer;
	transition: 650ms;
}
.about-menu a:hover{
	color: #000;
}
.gen a{
	cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
  text-decoration-line: none;
  transition: color 2s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.logo{
	margin-right: 200px;
}
.no-js #loader { 
	display: none;  
}
.js #loader { 
	display: block; position: absolute; left: 100px; top: 0;
}
#splash_screen {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/splash.svg) center no-repeat #fff;
	background-color: black;
}
.dropdown {
 	position: relative;
 	display: inline-block;
	color: #fff;
 	text-transform: uppercase;
 	letter-spacing: 3px;
	font-weight: bolder;
 	text-decoration-line: none;
	transition: color 2s;
}
.dropdown-content {
 	display: none;
 	position: absolute;
 	background-color: #000;
 	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 	padding: 12px 16px;
 	z-index: 1;
}
.dropdown:hover .dropdown-content {
 	display: block;
}
.about{
	display: flex;
	justify-content: center;
	font-family: 'Kavo Serif', sans-serif;
	font-size: 40px;  
	text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px black;
	margin-top: 90px;
	margin-left: 50px
	text-transform: uppercase;
	color: rgba(255,255,255,.8);
}
.about-me{
	text-align: left;
	color: #000;
	font-family: 'Century Gothic', sans-serif;
	font-size: 20px;
	/*margin-left: 100px;*/
	margin-top: 50px;
	margin-left: 300px;
	text-align: left;
/*	display: flex;
	justify-content: center;*/
	margin-bottom: 30px;
}
hr{
	border: .8px solid rgba(169,169,169,.5);
	/*border-style: solid;*/
	/*border-width: .8px;*/
	margin: 0 300px 0 300px;
}
/*about page  end*/

/*porfolio page start*/
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.portfolio-bg{
	background: url('img/2.gif') no-repeat center fixed;
	/*background-size: cover;*/
	overflow-x: hidden;
}
.logo img{
	text-align: left;
	width: 220px;
	height: 130px;
	margin-left: -2px;
}
.portfolio-menu ul{
	list-style: none;
	font-family: 'Kavo Serif', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	margin-top: 45px;
}
.portfolio-menu a{
	margin: 45px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bolder;
	text-decoration-line: none;
	transition: color 2s;
}
.portfolio-menu a:hover{
	color: #000;
}
.head_1 p{
	font-family: 'Copperplate Gothic Light', sans-serif;
	text-align: center;
	font-size: 40px;
	text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px black;
	border-style: double;
	color: #fff;
}
.introd p{
	font-family: 'Century Gothic', sans-serif;
	text-align: center;
	font-size: 25px;
	color: white;
	padding-top: 60px;
}
.column {
 	float: left;
 	width: 32.33%; 
 	padding: 5px;
}
.row::after { 
 	clear: both; display: table;
}
.head_2 p{
	font-family: 'Lacosta', sans-serif;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	border-style: double;
	color: #fff;
}
.head_3 p{
	font-family: 'Copperplate Gothic Light', sans-serif;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	border-style: double;
	color: #fff
}
.head_4 p{
	font-family: 'Copperplate Gothic Light', sans-serif;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	border-style: double;
	color: #fff
}
.head_5 p{
	font-family: 'Copperplate Gothic Light', sans-serif;
	font-size: 20px;
	color: #000;
	text-shadow: 1px 1px 2px black, 0 0 25px #fff, 0 0 5px #fff;
	text-align: center;
	margin-top: -5px;
}
.head_6 p{
	font-family: 'Copperplate Gothic Light', sans-serif;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	border-style: double;
	color: #fff;
}
.row_8{
	padding-top: 20px;
	border-style: double;
	border-color: #E0AA3E;
}
/*portfolio page ends*/


/*project page start*/


.projects-bg{
	background-color: #000000;
	overflow-x: hidden;
	}
.projects-menu ul{
	background-color: #E0AA3E;
	list-style: none;
	font-family: 'Kavo Serif', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;
	padding: 15px 0 10px 0;
}
.projects-menu li a{
	text-decoration: none;
	margin-left: 10px;
	color: black;
}
.projects-menu li{
	margin-left: 10px;
	font-size: 20px;
}
.projects-menu span{
	margin-right: 450px;
	font-size: 20px;
}
.projects_head {
	/*margin-right: 200px;*/
	padding-right: 350px;
	font-size: 20px;
	text-decoration: underline;
}
.welcome p{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #E0AA3E;
	text-shadow: 20px;
	/*font-family: Black Gold;*/
	font-size: 45px;
}
.row_9{
	border: 6px solid #E0AA3E;
	/*border-style: ;*/
	/*border-color: ;	*/
  	display: table;

}
.row_9:after { 
	clear: both; 
 }
.row_9 p{
	font-family: Blacker Sans;
	font-size: 25px;
}
.gallery{
	text-align: center;
	font-size: 35px;
	font-family: Lacosta Line;
}
.gallery h1 span{
	display: inline-flex;
	color: #E0AA3E;
	font-family: 'Courier New Regular', sans-serif;
}

.btn a{
text-decoration: none;
color: #E0AA3E;
border: 2px solid #E0AA3E;
padding: 1rem 2rem;
margin-left: 630px;
font-size: 25px;
}
.btn a:hover{
	color: black;
	transition: 650ms;
	background-color: #E0AA3E;
} 
.social-media{
	text-shadow: 1px 1px 2px black, 0 0 25px #fff, 0 0 5px #fff;
}
/*projects page ends*/

/*gallery page starts*/

/*social media start*/
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}	
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.fa-twitter{
	font-size: 30px;
	cursor: pointer;
	padding: 30px;
}
.fa-twitter:hover{
	color: rgba(85,172,238,1);
}
.fa-facebook-f{
	font-size: 30px;
	cursor: pointer;
	padding: 30px;
	margin-left: 560px;
}
.fa-facebook-f:hover{
	color: rgba(59,89,153,1)
}
.fa-instagram{
	font-size: 30px;
	cursor: pointer;
	padding: 30px;
}
.fa-instagram:hover{
	color: rgba(228,64,95,1)
}
.fa-envelope{
	font-size: 30px;
	cursor: pointer;
	padding: 30px;
}
.fa-envelope:hover{
	color: rgba(212,70,56,1 )
}
/*social media end*/

/*footer start*/
.footer h3{
	font-family: 'Copperplate Gothic Light', sans-serif;
	color: #000;
	text-shadow: 1px 1px 2px #fff, 0 0 25px #fff, 0 0 5px #fff;
	text-align: center;
	margin-top: -5px;
}
/*footer end*/

/*3d cube start*/
.warp{
	width: 200px;
	height: 200px;
}
.cube{
	animation: animate 10s ease-in-out infinite;
	transform-style: preserve-3d;
	transform-origin: 100px 100px 0;
}
.cube div{
	position: absolute;
	width: 200px;
	height: 200px;
	line-height: 200px;
}
.cube .box_1{
	background-image: url('img/img_2.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	transform: translateZ(100px);
}
.cube .box_2{
	background-image: url('img/Untitled-4.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	transform: rotateY(90deg) translateZ(100px);
}
.cube .box_3{
	background-image: url('img/img_3.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}.cube .box_4{
	background-image: url('img/chip logo.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.cube .box_5{
	background-image: url('img/color logo.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.cube .box_6{
	background-image: url('img/img_1.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	transform: rotateX(-90deg) translateZ(100px);
}
@keyframes animate{
	from,to{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	16%{
		transform: rotateY(-90deg);
	}
	33%{
		transform: rotateY(-90deg) rotateZ(90deg);
	}
	50%{
		transform: rotateY(-180deg) rotateZ(90deg);
	}
	66%{
		transform: rotateY(-270deg) rotateZ(90deg);
	}
	83%%{
		transform: rotateX(90deg);
	}
} 

/*loader page start*/
*{
    margin: 0;
    padding: 0;
}

.loading-screen{
    width: 100%;
    height: 100vh;
    background-color: #2e2e2e;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

.loading span{
    width: 32px;
    height: 32px;
    background-color: red;
    margin: 4px;
    animation: scale 1.5s linear infinite;
}

@keyframes scale{
    50%{
        transform: scale(1.2);
    }
}

.loading span:nth-child(1){
    border-radius: 50% 50% 0 50%;
    background-color: #e77f67;
    transform-origin: bottom right;
}

.loading span:nth-child(2){
    border-radius: 50% 50% 50% 0;
    background-color: #778beb;
    transform-origin: bottom left;
    animation-delay: .5s;
}

.loading span:nth-child(3){
    border-radius: 50% 0 50% 50%;
    background-color: #f8a5c2;
    transform-origin: top right;
    animation-delay: 1.5s;
}

.loading span:nth-child(4){
    border-radius: 0 50% 50% 50%;
    background-color: #f5cd79;
    transform-origin: top left;
    animation-delay: 1s;
}

/*loader page ends*/